<form action="<%= session_url %>" method="post" name=entry>
  <ul>
  <% user.errors.full_messages.try(:each) { |message| %>
    <li><%= message %></li>
  <% } %>
  </ul>
  <div class=form-group>
    <input type="email" name="user[email]" value="<% user.email %>" class="form-control" placeholder="Email">
  </div>
  <div class=form-group>
    <input type="password" name="user[password]" class="form-control" placeholder="Пароль">
  </div>
  <div class=form-group>
    <input type="submit" title="Увійти" id="send" value="Увійти" class="form-control">
  </div>
</form>

