<form action="<%= session_url %>" method="post">
  <ul>
  <% user.errors.full_messages.try(:each) { |message| %>
    <li><%= message %></li>
  <% } %>
  </ul>
  <label>Email:</label>
    <input type="text" name="user[email]" value="<% user.email %>">

  <label>Password:</label>
    <input type="password" name="user[password]">

  <label>Name:</label>
    <input type="text" name="user[name]">

  <label>Zip:</label>
    <input type="text" name="contact_details[zip]">

  <input type="submit" class="call-to-action">
</form>