<main id="user-edit">
  <h1>Log in</h1>

  <form action="<%= session_url %>" method="post">
    <label>Email:</label>
      <input type="text" name="user[email]" value="<% @user.email %>">

    <label>Password:</label>
      <input type="password" name="user[password]">

    <input type="submit" class="call-to-action" value="Log in" title="Log in">
  </form>
  <h3><a href="/auth/facebook" title="Log in via Facebook">Log In via Facebook</a></h3>
</main>