<% unless petitions.empty? %>
<section>
<h2>
  <% if user.is_a?(Recipient) %>Petitioned by<% else %>Petitions<% end %>
</h2>
<ul>
  <% petitions.each do |petition| %>
  <li>
    <h3>
      <% if petition.victory %><small class="victory">Victory</small><% end %>
      <% if petition.supporters.include?(current_user) %><small class="signed">Signed</small><% end %>
      <%= link_to petition.title, petition_url(petition) %>
    </h3>
    <p><%= petition.body %></p>
  </li>
  <% end %>
</ul>
</section>
<% end %>