<main id="petition-form">
  <%= render "form", petition: @petition, recipients: @recipients %>

  <form action="<%= petition_victories_url(@petition) %>"
        method="post" id="victory-form">
    <input type="hidden" name="authenticity_token"
           value="<%= form_authenticity_token %>">
     <header>
       <h1>Declare a Victory</h1>
     </header>

    <div class="input">
      <label>Description:</label>
      <input type="text" name="victory[description]">
    </div>

    <div class="input">
      <label>Message:</label>
      <textarea name="victory[message]"></textarea>
    </div>

    <input type="submit" value="Declare victory" class="call-to-action">
  </form>
</main>