<ul>
  <% @petitions.each do |petition| %>
  <li>
    <h3><%= link_to petition.title, petition_url(petition) %></h3>
    <summary>
      by: <%= link_to petition.creator.name, user_url(petition.creator) %> ·
      <%= petition.petition_signatures.length %> signatures · <%= link_to "Sign", petition_url(petition) %>
    </summary>
  </li>
  <% end %>
</ul>