<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
    h2 {
      color: #F1986B;
    }

    body {
      font-family: sans-serif;
    }
    </style>
  </head>
  <body>
    <h2>kardinal</h2>

    <p>Thanks for signing up with kardinal!<br>
      Please <%= link_to "activate your email", @url %> at:<br>
      <%= @url %>!</p>
  </body>
</html>

