<main id="user-show">
  <div class="controls">
    <%= link_to "Edit Profile", me_edit_url %>
    <%= link_to "Preview Profile", user_url(current_user) %>
  </div>

  <%= render "profile", user: @user, contact_detail: @contact_detail %>

  <%= render "petitions/list", user: @user, petitions: current_user.petitions %>
</main>