<section id="main">
    <a href="/auth/facebook" title="Sign up via Facebook" class="btn-link">
	    <%= image_tag "social_facebook_box_blue.png", class: "button_img",  alt: "Facebook" %>
    </a>
    <%= render "sessions/form", user: @user %>
</section>

