<h2>Here's a recipient Show page!</h2>
<%= render "users/profile", user: @recipient, contact_detail: @recipient.contact_details.first %>
<%= render "petitions/list", petitions: @recipient.petitions %>