/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body, header, main,
footer, div, ul, li, small,
address, details, p, img,
h1, h2, h3, h4, h5, h6, hr,
ol, a, form, summary {
  border : 0;
  padding : 0;
  margin : 0;
  list-style : none;
  font-family : inherit;
  font-size : 100%;
  vertical-align : baseline;
  line-height : 100%;
  color : black;
  text-decoration : none;
  outline : none;
}

a:hover {
  text-decoration : underline;
}

input[type="submit"] {
  border : 0;
  margin : 0;
  padding : 0;
  font-size : 100%;
  outline : 0;
}

body {
  font-family : sans-serif;
  min-width : 22em;
}

.group:after {
  content : "";
  clear : both;
  display : block;
}

.left {
  float : left;
}

.right {
  float : right;
}

header .logo {
  color : #E89267;
  font-weight : bold;
  padding-bottom: 2px;
  border-bottom: 1px dashed #E89267;
  text-decoration: none;
}

header .logo:hover {
  border-bottom: 1px solid #E89267;
}

@media all and (min-width: 55em) {
  body {
    background-color: red;
  }
}

@media all and (min-width: 44em) and (max-width: 55em) {
  body {
    background-color: pink;
  }
}