/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body, header, main,
footer, div, ul, li, small,
address, details, p, img,
h1, h2, h3, h4, h5, h6, hr,
ol, a, form, summary, .button_to,
textarea {
  border : 0;
  padding : 0;
  margin : 0;
  list-style : none;
  font-family : inherit;
  font-size : 100%;
  vertical-align : baseline;
  line-height : 100%;
  color : black;
  text-decoration : none;
  outline : none;
  font-weight: normal;
  background-color: transparent;
}

a:hover {
  text-decoration : underline;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
  -webkit-appearance: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  color: inherit;
  font: inherit;
  width: auto;
  border-radius: 0;
}

select {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  color: inherit;
  font: inherit;
  width: auto;
  border-radius: 0;
}

body {
  font-family : sans-serif;
  min-width : 22em;
  background-color : #FAFAFA;
  max-width: 65em;
  margin: auto;
}

.group:after {
  content : "";
  clear : both;
  display : block;
}

.left {
  float : left;
}

.right {
  float : right;
}

header.app .logo {
  color : #F1986B;
  font-weight : bold;
  padding-bottom: 2px;
  border-bottom: 1px dashed #F1986B;
  text-decoration: none;
}

header.app .logo:hover {
  border-bottom: 1px solid #F1986B;
}

header.app .tag {
  text-decoration: none;
  color: #F1986B;
}

header.app .tag:hover {
  text-decoration: none;
}

header.app a:hover {
  text-decoration: none;
}

footer {
  text-align : center;
  border-top : 1px dotted #F1986B;
  margin : 1em 1em;
  padding-top : 0.5em;
}

footer li {
  margin-left : 0.5em;
  float : left;
}

footer a,
footer li {
  color : #a1a1a1;
}

footer small {
  color : #F1986B;
}

.copy {
  display: none;
}

main {
  padding : 1em;
  background : #F2F2F2;
  max-width: 61em;
  margin: auto;
}

input.call-to-action {
  width: 100%;
  padding: 0.5em 0;
  margin-top: 1em;
  display: block;
  background-color: #F1986B;
  color: white;
  padding: 0.5em;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.5em;
  box-shadow: 0 0.3em #e08a5e;
  position: relative;
}

input.call-to-action:hover {
  background-color: #faa57d;
}

input.call-to-action:active {
  top: 0.3em;
  box-shadow: none;
}

.source a {
  font-size: 0.75em;
  color: #C1C1C1;
}