#comments {
  margin-top: 3em;
}

#comments h2 {
  color: #F1986B;
  font-size: 1.5em;
  padding-bottom: 0.25em;
  border-bottom: 1px solid #F1986B;
  margin-bottom: 0.5em;
}

#comments li {
  padding-bottom: 0.75em;
}

#comments li summary {
  width: 70%;
}

#comments h3 a {
  font-weight: bold;
  margin-left: 0.5em;
}

#comments p {
  margin-left: 2em;
}

#comments form {
  margin-top: 1em;
}

#comments form label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5em;
}

#comments form input {
  padding: 0.5em;
  width: 70%;
  margin-top: 0.5em;
  border: 1px solid #aaa;
  background-color: #fcfcfc;
}

#comments form input:focus {
  background-color: #fffff5;
}

#comments form input[type="submit"] {
  background-color: #F1986B;
  width: 20%;
  border: 0;
}

#comments img {
  width: 1.5em;
  border-radius: 0.5em;
  background-color: white;
}

#comments li input.delete {
  background-color: #D55F7A;
  box-shadow: 0 0.3em #b34259;
  border: 0;
  border-radius: 0.5em;
  color: white;
  width: 20%;
  padding: 0.5em;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

#comments li .delete:hover {
  background-color: #e36f86;
}

#comments li .delete:active {
  top: 0.3em;
  box-shadow: none;
}