#petition-index header {
  padding-bottom: 1em;
  border-bottom: 1px dotted #F1986B;
  margin-bottom: 1em;
}

#petition-index h1,
#petition-index h2 {
  color: #F1986B;
}

#petition-index h1 {
  font-size: 2em;
}

#petition-index h2 {
  font-size: 1.1em;
  margin-top: 0.5em;
  width: 75%;
}

#petition-index h3 a {
  font-weight: bold;
}

#petition-index .causes {
  padding: 0 0 1em 2.5em;
  border-left: 1px dotted #F1986B;
}

#petition-index .petitions {
  max-width: 30em;
}

#petition-index .logo {
  font-weight : bold;
}

#petition-index p {
  margin-bottom: 1em;
  width: 90%;
}

#petition-index summary {
  font-size: .8em;
  vertical-align: center;
}

#petition-index summary img {
  border-radius: 50%;
  background-color: white;
}