#petition-form header {
  padding-bottom: 1em;
  border-bottom: 1px dotted #F1986B;
  margin-bottom: 1em;
}

#petition-form h1 {
  color: #F1986B;
  font-size: 2em;
}

#petition-form .input {
  margin: 1em 0 0 0;
}

#petition-form  label {
  display: block;
  font-weight: bold;
  padding: 5px 10px 0.25em 0;
  margin: 1em auto 0 auto;
  width: 50%;

}

#petition-form div.input input,
#petition-form div.input textarea,
#petition-form div.input select {
  display: block;
  border: 1px solid #aaa;
  padding: 5px 10px;
  background-color: #fcfcfc;
  width: 50%;
  margin: 0 auto;

}

#petition-form div.input input:focus,
#petition-form div.input textarea:focus,
#petition-form div.input select:focus {
  border-bottom: 1px solid #F1986B;
  background-color: #fffff5;
}

#petition-form .create-recipient:before {
  content: "Don't see your recipient here?";
  padding-right: 0.5em;
  margin-top: 0.25em;
  display: inline-block;
  color: #aaa;
  text-decoration: none;
}

#petition-form .create-recipient {
  display: block;
  width: 50%;
  margin: auto;
}

#petition-form .delete {
  margin-top: 0.5em;
  background-color: #D55F7A;
  color: white;
  padding: 0.5em;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.5em;
  box-shadow: 0 0.3em #b34259;
  position: relative;
  width: 100%;
}

#petition-form .delete:hover {
  background-color: #e36f86;
}

#petition-form .delete:active {
  top: 0.3em;
  box-shadow: none;
}

#victory-form {
  margin-top: 2em;
}