#petition-show .controls {
  display: inline-block;
  margin-right: 1em;
}

#petition-show .controls:before {
  content: "Controls:";
  display: block;
  color: #aaa;
}

#petition-show .controls .edit {
  color: black;
  font-weight: bold;
}

#petition-show header {
  padding-bottom: 1em;
  border-bottom: 1px dotted #F1986B;
  margin-bottom: 1em;
}

#petition-show header img {
  margin-top: 1em;
  border-radius: 0.5em;
}

#petition-show header .headertext {
  padding-left: 1em;
}

#petition-show h1 {
  color: #F1986B;
  font-size: 2em;
  width: 13em;
}

#petition-show h4.action {
  color: #f0a884;
  font-weight: bold;
  padding: 1em;
  background-color: #ddd;
  margin: 0 0 0 0;
  display: inline-block;
  border-radius: 0.5em;
  text-transform: uppercase;
}

#petition-show .creator:before {
  content: "Creator:";
  display: block;
  color: #aaa;
  margin-top: 1em;
}

#petition-show .creator img {
  border-radius: 50%;
  display: block;
}

#petition-show .creator a {
  font-weight: bold;
}

#petition-show .creator address {
  font-style: normal;
}

#petition-show .victory:before {
  content: "Victory message:";
  display: block;
  margin-top: 1em;
  color: #aaa;
}

#petition-show .background:before {
  content: "About the cause:";
  display: block;
  margin-top: 1em;
  color: #aaa;
}

#petition-show .letter-body:before {
  content: "Letter body:";
  display: block;
  margin-top: 1em;
  color: #aaa;
}

#petition-show details {
  margin-top: 1em;
}

#petition-show details ul {
  padding-left: 1em;
}

#petition-show details img {
  border-radius: 50%;
}

/* approval status styling */

#petition-show .pending {
  color: #999;
  text-transform: lowercase;
}

#petition-show .pending:before {
  content: "!";
  padding-right: 0.5em;
}

#petition-show .approved {
  color: #0A0;
  text-transform: lowercase;
}

#petition-show .approved:before {
  content: "○";
  padding-right: 0.5em;
}

#petition-show .denied {
  color: #C00;
  text-transform: lowercase;
}

#petition-show .denied:before {
  content: "✕";
  padding-right: 0.5em;
}