#root {
  position: relative;
}

#root h1 {
  padding-bottom: 0.5em;
  border-bottom: 1px dotted #F1986B;
  margin-bottom: 0.5em;
  color: #F1986B;
  font-size: 2em;
}

#root h2 {
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  color: #F1986B;
}

#root h2:first-child {
  margin-top: 0;
}

#root h2 a {
  color: #f1986b;
}

#root h2 a:hover {
  text-decoration: none;
  color: #faa57d;
  border-bottom: 1px dotted #faa57d;
}

#root section#user-edit {
  width: 10em;
  float: left;
  margin-left: 2em;
  margin-right: 2em;
}

#root section {
  margin-bottom: 2em;
  margin-left: 2em;
}

#root .banner {
  margin: -1.5em 0 0 -1em;
  width: 100%;
  clear: both;
  background-image: url('https://s3.amazonaws.com/changeorg_clone_dev/world_light.png');
  background-repeat: no-repeat;
  background-position: center 45%;
  background-size: 120% auto;
  background-color: #fffefa;
  padding: 3em 0 3em 2em;
  color: #e08a5e;
  border: 1px solid rgba(222,136,93,0.15);
  border-radius: 0.5em;
}

#root .banner h2 {
  color: #f1986b;
  font-size: 2.5em;
  font-weight: lighter;
  text-transform: lowercase;
}

#root .banner .bannertext {
  margin-left: 3em;
  margin-right: 3em;
  width: 50%;
}

#root .login {
  width: 20%;
  margin: 0;
  text-align: center;
  font-size: 0.9em;
}

#root .login input[type="text"],
#root .login input[type="password"] {
  background-color: white;
  border: 1px solid #ccc;
  padding: 0.5em;
}

#root .login label {
  display: block;
  text-transform: lowercase;
  text-align: left;
}

#root .login a {
  display: block;
  font-size: 0.75em;
  margin-top: 1em;
}