/* large screen */
@media all and (min-width: 55em) and (max-width: 150em){
  body {
    font-size : 1.1em;
  }

  /* header.app and footer styles */
  header.app img {
    width: 1.1em;
    height: 1.1em;
  }

  header.app a {
    color : #C1C1C1;
  }

  header.app .main-links {
    float: left;
  }

  header.app li {
    float: left;
  }

  header.app .main-links li a {
    margin-left: 1em;
  }

  header.app .main-links a:hover,
  header.app .user a:hover {
    color: #808080;
    text-decoration: none;
  }

  a.mild-action,
  input[type="submit"].mild-action {
    position : relative;
    font-size: .8em;
    width : 100%;
    padding : 0.5em;
    background-color : #ddd;
    border-radius : 0.25em;
    box-shadow : 0 3px #a1a1a1;
    font-weight : bold;
    color : #888;
    cursor: pointer;
  }

  input[type="submit"].mild-action {
    margin-top: 0.5em;
  }

  a.mild-action:hover,
  input[type="submit"].mild-action:hover {
    background-color : #ccc;
    color : #777;
    text-decoration : none;
  }

  a.mild-action:active,
  input[type="submit"].mild-action:active {
    top : 3px;
    box-shadow : none;
  }

  a.copy {
    display: inline;
    font-weight: bold;
    color: #F1986B;
  }
}

@media all and (min-width: 85em) and (max-width: 150em){
  /* modal styles */
  section.modal h1 a {
    font-size: 2em;
    font-weight: lighter;
    margin: 0 0 30px 0;
    text-decoration: none;
    border: 0;
    color: white;
  }

  .modal p {
    margin-top: 1em;
  }

  .show-modal {
    display: inline-block;
  }

  .has-active-modal .modal {
    display: block;
  }

  .modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-weight: 300;
    overflow: hidden;
    z-index: 5;
  }

  header.app section.modal article.modal-box div#modal-contatiner p a {
    color: white;
    font-weight: lighter;
    border-bottom: 1px dotted white;
    text-decoration: none;
  }

  .modal:before {
    content: "";
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(220,132,88,0.35);
  }

  .modal-box {
    display: block;
    position: absolute;
    max-width: 10em;
    height: 100%;
    padding: 1em;
    color: white;
    font-size: 1em;

    background: rgb(255,152,108);
  }

  .modal-close-button {
    position: absolute;
    display: block;
    top: 0;
    right: 0.5em;
    font-size: 2em;
    line-height: 1.0;
    font-weight: lighter;
    color: white;
    cursor: pointer;
  }

  .modal-close-button:hover {
    color: #ffc29c;
  }


}