/* small-medium screen */
@media all and (min-width: 22em) and (max-width: 33em) {
  .main-links, .fb-login,
  header.app a .tag {
    display : none;
  }

  body {
    font-size : 1em;
  }

  /* header.app and footer styles */
  header.app img {
    width: 1em;
    height: 1em;
  }

  header.app summary {
    margin-bottom : 0.5em;
  }

  header.app .user a {
    color : #C1C1C1;
  }

  a.mild-action, input[type="submit"].mild-action {
  position : relative;
    width : 100%;
    padding : 0.5em;
    background-color : #ddd;
    border-radius : 0.25em;
    box-shadow : 0 3px #a1a1a1;
    font-weight : bold;
    color : #888;
  }

  a.mild-action:hover, input[type="submit"].mild-action:hover {
    background-color : #ccc;
    color : #777;
    text-decoration : none;
    cursor: pointer;
  }

  a.mild-action:active, input[type="submit"].mild-action:active {
    top : 3px;
    box-shadow : none;
  }

  #root section#user-edit {
    width: 20em;
  }

  #root #user-edit input,
  #root #user-edit button{
    width: 20em;
  }

  #root .banner .bannertext {
    float: none;
    display: block;
    clear: both;
    width: 100%;
    margin: 0;
    margin-bottom: 2em;
  }

  #root .banner .bannertext h2 {
    width: 75%;
  }

  #root .banner .login {
    float: none;
    display: block;
    clear: both;
    margin: 0;
    margin-left: 5em;
    width: 11em;
  }

  #root .banner .login label {
    text-align: center;
    display: block;
  }

  #root .petitions-list {
    border: 0;
    width: 100%;
  }

  #root .petitions-list ul li img {
    display: none;
  }

  #root .victories-list {
    width: 100%;
  }
}