#user-show .controls {
  background-color: #ffe1bd;
  margin-bottom: 1em;
  padding: 0.5em;
  border-radius: 0.5em;
  display: inline-block;
  color: #aaa;
}

#user-show .controls a {
  color: #eb966e;
  display: block;
  padding-bottom: 0.5em;
}

#user-show .controls a:last-child {
  padding: 0;
}

#user-show .controls a:hover {
  color: #faa57d;
  text-decoration: none;
}

#user-show img {
  border-radius: 50%;
}

#user-show header {
  padding-bottom: 1em;
  margin-bottom: 1em;
}

#user-show header h1 {
  color: #F1986B;
  font-size: 2em;
  margin-top: 0.5em;
}

#user-show header h2 {
  color: #faa57d;
  font-size: 1.25em;
}

#user-show header h2 a {
  color: #aaa;
}

#user-show header h2 a:hover {
  color: #888;
  text-decoration: none;
}

#user-show header p {
  margin-top: 1em;
  width: 90%;
}