#user-edit h1 {
  padding-bottom: 0.5em;
  border-bottom: 1px dotted #F1986B;
  margin-bottom: 0.5em;
  color: #F1986B;
  font-size: 2em;
}

#user-edit h2 {
  color: #F1986B;
  font-size: 1.25em;
  margin: 1.5em auto 0 auto;
  padding-left: 1em;
  width: 55%;
}

#user-edit h2:first-child {
  margin-top: 0;
}

#user-edit h3 a {
  display: block;
  text-align: center;
  margin-top: 1em;
  color: #aaa;
}

#user-edit h3 a:hover {
  color: #888;
  text-decoration: none;
}

#user-edit label {
  display: block;
  font-weight: bold;
  padding: 5px 10px 0.25em 0px;
  margin: 1em auto 0 auto;
  width: 50%;
}

#user-edit input {
  display: block;
}

#user-edit input,
#user-edit textarea,
#user-edit select {
  display: block;
  border: 1px solid #aaa;
  padding: 5px 10px;
  background-color: #fcfcfc;
  width: 50%;
  margin: 0 auto;
}

#user-edit input:focus,
#user-edit textarea:focus,
#user-edit select:focus {
  background-color: #fffff5;
}

#user-edit .delete {
  margin: 0.5em auto;
  background-color: #D55F7A;
  color: white;
  padding: 0.5em;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.5em;
  box-shadow: 0 0.3em #b34259;
  position: relative;
  border: 0;
}

#user-edit .delete:hover {
  background-color: #e36f86;
}

#user-edit .delete:active {
  top: 0.3em;
  box-shadow: none;
}

#user-edit input.call-to-action {
  padding: 0.5em 0;
  margin: 1em auto;
  display: block;
  background-color: #F1986B;
  color: white;
  padding: 0.5em;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.5em;
  box-shadow: 0 0.3em #e08a5e;
  position: relative;
  border: 0;
}

#user-edit input.call-to-action:hover {
  background-color: #faa57d;
}

#user-edit input.call-to-action:active {
  top: 0.3em;
  box-shadow: none;
}