<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User page </title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/font-awesome.css"  rel="stylesheet" >
  </head>
  <body>
   <header>
      <nav class="navbar navbar-default navbar-top navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <a class="navbar-brand" href="#">ChangeIT</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="#">
          <span class="fa fa-file-text-o "></span>
          <span>Створити петицію</span>
            </a></li>
        <li><a href="#">
          <span class="fa fa-list"></span>
          <span>Переглянути петиції</span>
            </a></li>
        <li><a href="#">
          <span class="fa fa-search"></span>
          <span>Пошук</span>
        </a></li>
      </ul> 
      <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="profile_image"><img src="img/profile_image.jpg" alt=""></span>
              <span class="profile_name">Username User</span>
               <span class="caret"></span>
             </a>
            <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
            <a href="#">

              </a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
   </header>
   <div class="container">
        <div class="container-fluid">
        <!-- PROFILE SIDEBAR -->
          <div class="col-lg-4 profile_info">
            <div class="profile_image">
              <img src="img/profile_image-cropped.jpg" alt="profile_image">
            </div>
            <div class="profile_name">
              <span>User Usernamemovich</span>
            </div>
            <div class="profile_change profile_buttons">
              <span class="fa fa-cog"></span>
              <span>Редагувати профіль</span>
            </div>
            <div class="profile_message profile_buttons">
              <span>Повідомлення 
                <span class="profile_newmessage">+1</span>
              </span>
            </div>
            <div class="profile_invitations profile_buttons ">
              <span>Invitations</span>
            </div>
          </div>
          <div class="col-lg-6 profile-petition">
           
            <!-- 
            PETITION SECTOR
          -->
            <div class="petition_categories">
              <ul>
                <li class="fav petition_li" id="fav" onclick="fav(this)">Вибрані</li>
                <li onclick="popular(this)" class="pop petition_li" id="pop">Популярні</li>
                <li onclick="last(this)" class="last petition_li" id="last">Останні</li>
                <li onclick="my(this)" class="own petition_li" id="own">Мої петиції</li>
              </ul>
              <ul class="sub-petition-categories" id="sub-popular">
                <li onclick="populartoday(this)" class="sub-popular-li sub-popular-today">Сьогодні</li>
                <li onclick="popularweek(this)" class="sub-popular-li sub-popular-week">Цього тижня</li>
                <li onclick="popularwhole(this)" class="sub-popular-li sub-popular-whole">За весь час</li>
              </ul>
              <ul class="sub-petition-categories" id="sub-user">
                <li class="sub-user-li own-all" onclick="myall(this)">Всі</li>
                <li class="sub-user-li own-mine" onclick="myown(this)">Мої</li>
              </ul>
            </div>
            <div class="container">
                <div class="petition_category petition-fav"></div>
                <div class="petition_category petition-popular-today"></div>
                <div class="petition_category petition-popular-week"></div>
                <div class="petition_category petition-popular-whole"></div>
                <div class="petition_category petition-last"></div>
                <div class="petition_category petition-my-all">
                  <div class="petition">
                      <div class="container">
                    <div class="col-lg-2"><img src="img/petition.jpg" alt=""></div>
                    <div class="col-lg-4">
                      <h3><a href="#">Lorem IPSUM!</a></h3>
                      <ul>
                        <li>Автор:<a href="#">Author</a></li>
                        <li class="petition-number">49 599</li>
                        <li><a href="#">Підписати</a></li>
                      </ul>
                    </div>
                  </div>
                <div class="petition_category petition-my-own"></div>
            </div>
          </div>
         </div>
          <div class="col-lg-2"></div>
        </div>
     </div>
   </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/script.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>