<!DOCTYPE html>
<html lang="en">
<head>
    <script src="jquery-1.10.2.js"></script>

    <link rel="stylesheet" href="Bootstrap/styles/bootstrap.min.css">

    <link rel="stylesheet" href="assets/stylesheets/style_log.css">

    <script src="Bootstrap/js/bootstrap.min.js"></script>

    <script src="assets/javascripts/script_login.js" charset="utf-8"></script>
    <meta charset="UTF-8">

    <title></title>
</head>
<body>
<div class="row">
    <div class="col-md-5 col-md-offset-2 main">
        <button class="col-md-6 button btn btn-default" id="enter">Увійти</button>
        <button class="col-md-6 button btn btn-default" id="registration">Реестрація</button>
        <div class="col-md-12 button_facebook_div">

            <button class="col-md-12 button_facebook btn btn-default">
                <img src="social_facebook_box_blue.png" class="button_img">Facebook
            </button>
        </div>


        <form name="entry">
            <input type="email" class="form-control" placeholder="Email">
            <input type="password" class="form-control" placeholder="Password">

            <p>Забыли пароль?</p>
            <input type="button" value="Войти" id="send">
        </form>
    </div>
</div>
</body>
</html>