<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="Bootstrap/styles/bootstrap.min.css">
    <link rel="stylesheet" href="style_pett.css">
    <script src="Bootstrap/js/bootstrap.min.js"></script>
    <title></title>
</head>
<body>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <!--<div class="tabs">-->
        <!--<a class="tabs_link">Избранные</a>-->
        <!--<a class="tabs_link">Популярные</a>-->
        <!--<a class="tabs_link">Последние</a>-->
        <!--</div>-->
        <div class="col-md-12 petition_prev">
            <img class="col-md-3 petition_prev_img" src="ChfhxrgCklBHBtI-108x61-cropped.jpg">
<div class="row col-md-9 petition_prev_body">
            <div class="row col-md-12 petition_prev_body">
                <div class="col-md-11 petition_prev_text">Ксения Кокорина сказал(а): <img class="col-md-1" src="1449968691_like.png">
            </div>
                <div class=" buttons ">

                <div class="col-md-12 petition_prev_info">
                    "зафиксированная на каком-либо материальном носителе человеческая мысль; в общем плане связная и полная последовательность символов. (В русском языке текст- несколько предложений, связанных между собой по смыслу и грамматически.)"
                </div>

            </div>



            </div>
    <div class="col-md-11 petition_prev_reputation col-md-offset-1"> <img class="col-md-3" src="1449968691_like.png"><p class="col-md-2">15415</p>
    <button class="btn btn_prev col-md-7">На сторінку петиціі</button></div>
            </div>

        </div>
    </div>
</div>

</body>
</html>