<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="Bootstrap/styles/bootstrap.min.css">
    <link rel="stylesheet" href="style_pett.css">
    <script src="Bootstrap/js/bootstrap.min.js"></script>
    <title></title>
</head>
<body>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <!--<div class="tabs">-->
        <!--<a class="tabs_link">Избранные</a>-->
        <!--<a class="tabs_link">Популярные</a>-->
        <!--<a class="tabs_link">Последние</a>-->
        <!--</div>-->
        <div class="col-md-12 petitioncom_prev">
            <img class="col-md-3 petitioncom_prev_img" src="ChfhxrgCklBHBtI-108x61-cropped.jpg">

            <div class="row col-md-7 petitioncom_prev_body">
                <div class="col-md-12 petitioncom_prev_text">Ингосстрах, ФСС и СК "Альянс" требуем выплатить компенсации
                    родителям погибш их
                    членов экипажа и пас
                </div>
                <div class="col-md-12 petitioncom_prev_info">
                    <div class="col-md-12 petitioncom_prev_reputation"> 125 репутация
                    </div>
                    <div class="col-md-5 petitioncom_prev_author">
                        <img src="ChfhxrgCklBHBtI-108x61-cropped.jpg"
                             class="petitioncom_prev_author_img col-md-6">
                        <a>Ксения Кокорина</a>

                        <p>Город Город</p>

                    </div>
                    <p class="col-md-3"><img src="icon.jpg">149 429<br> участника</p>

                    <p class="col-md-4 petitioncom_prev_act">Остання активність 3 хв тому</p>
                </div>
            </div>
            <div class="col-md-2 buttons1">
                <button class="btn btn-danger btn_prev col-md-12">Проголосувати</button>
                <button class="btn btn-primary btn_prev col-md-12">На сторінку петиціі</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>